* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--cinza-7);
}

:root {
  --branco: #fff;
  --cinza-1: #afafaf;
  --cinza-2: #525252;
  --cinza-7: #15171b;
  --cinza-9: #111113;
  --azul-9: #1fa4e5;
  --amarelo-500: #ffbe16;
}
a {
  color: inherit;
  text-decoration: none;
}
